.productos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
}
.info {
    text-align: center;
}

.info h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: darkred;
}

.info p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    
}

